* {
  margin: 0;
  padding: 0;
}
.hippo-credits {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 12.8px;
}
.hippo-credits > a {
  color: rgb(80, 102, 226);
}
